*
!*.Dockerfile
!Dockerfile
!cpp_pipeline_scripts
!cpp_pipeline_scripts/**
!vendor
!vendor/*.gz
!vendor/*.sh
!vendor/*.bz2
!vendor/*.zip
!vendor/parquet-testing-master
!vendor/.timestamp
!.gitignore
!.gitlab
!.gitlab/**
!bin
!conf
!conf/**
conf/*.yaml
conf/*.yaml~
conf/*.conf
conf/*.conf~
!cpp
!cpp/**
cpp/CMakeFiles
cpp/*.a
cpp/*.cmake
!misc
!misc/**
!tip_scripts
!tip_scripts/**
!container
!container/**
**/__pycache__
**/*.db
**/*.vs
**/venv
**/*.py~
**/*.pyc
**/*~
**/*.parquet
**/.ipynb*
**/dask-worker-space
**/#*
container/docker/centos/#*
container/docker/rhel/#*
container/docker/rhel/*~
container/argotip_scripts/.vs
tip_scripts/__pycache__
!README.md
!parse_and_translate.py
!CmakeLists.txt
!di2e_bitbucket_clone.txt
!.dockerignore
!CMake_windows.txt
!CMake_linux.txt
**/build
**/dist
**/*.egg-info
/cpp/out/build/x64-Debug (default)
