*
!cmake
!cmake/**
!CMakeLists.txt
!*.Dockerfile
!Dockerfile
!cpp_pipeline_scripts
!cpp_pipeline_scripts/**
!vendor
!vendor/*.gz
!vendor/*.sh
!vendor/*.bz2
!vendor/*.zip
!vendor/parquet-testing-master
!vendor/.timestamp
!.gitignore
!.gitlab
!.gitlab/**
!.github
!.github/**
!bin
!conf
!conf/**
!LICENSE
!conda-recipes
!conda-recipes/**
conf/*.yaml
conf/*.yaml~
conf/*.conf
conf/*.conf~
!cpp
!cpp/**
**/*.db
**/*.vs
**/venv
**/*.py~
**/*.pyc
**/*~
**/*.parquet
**/.ipynb*
**/dask-worker-space
**/#*
!README.md
!CmakeLists.txt
!.dockerignore
**/build
**/dist
**/*.egg-info
/cpp/out/build/x64-Debug (default)
!.clang-format
!CPPLINT.cfg
*.DS_Store
!environment*.yaml
!ci_environment_pinned.yaml
*.vscode
!codecov.yml
# nix
result*
default.nix
