*
!*.Dockerfile
!pipeline
!vendor
!vendor/*.gz
!vendor/*.sh
!vendor/parquet-testing-master
!.gitignore
!bin
!deps
!conf
!conf/**
conf/*.yaml
conf/*.yaml~
conf/*.conf
conf/*.conf~
!cpp
!cpp/**
!misc
!misc/**
!tip_scripts
!tip_scripts/**
!container
!container/**
**/__pycache__
**/*.db
**/*.vs
**/venv
**/*.py~
**/*.pyc
**/*~
**/*.parquet
**/.ipynb*
**/dask-worker-space
container/docker/centos/#*
container/docker/rhel/#*
container/docker/rhel/*~
tip_scripts/.vs
tip_scripts/__pycache__
!README.md
!parse_and_translate.py
!CmakeLists.txt
!di2e_bitbucket_clone.txt
!.dockerignore
!CMake_windows.txt
!CMake_linux.txt


